<div class="col-xs-12 col-sm-offset-2 col-sm-8">
  <div class="text-center mt+">
    <span class="fs-display-3 display-block mb++">RtcMedia</span>
  </div>
  <div class="card">
    <div class="p+">
      <span class="fs-display-2 display-block mb++">How to use</span>
      <div class="paragraph">
        <p>
          RtcPeer is a directive the enables you to get streams from a directive without having to call getUserMedia yourself.
        </p>
      </div>

      <div hljs language="html" class="mt+">
<rtc-media capture="all" stream-uri="stream"></rtc-media>
      </div>
    </div>
  </div>

  <div class="card m+">
    <div class="p+">
      <span class="fs-display-2 display-block mb++">Demo</span>
      <div class="paragraph mb+">
        <p>
          You can provide the following attributes :
        </p>
        <ul>
          <li>capture: which can be video, audio, or all</li>
          <li>stream-uri: to get the uri of your stream</li>
          <li>stream-blob: to get your stream as a blob</li>
          <li>error: to get errors</li>
        </ul>
      </div>
      <rtc-media capture="all" stream-uri="rtcmedia.stream"></rtc-media>
      <video ng-src="{{rtcmedia.stream}}" autoplay></video>
    </div>
  </div>
</div>