<div class="col-xs-12 col-sm-offset-2 col-sm-8">
  <div class="text-center mt+">
    <span class="fs-display-3 display-block">angular-webrtc</span>
  </div>

  <div class="card m++">
    <div class="p+">
      <span class="fs-display-1 display-block mt+ mb+">Description</span>
      <div class="paragraph">
        <p>
          angular-webrtc is a simple wrapper for the WebRTC APIs, enabling you to use it on Google Chrome or Mozilla Firefox without having to care about prefixes.
        </p>
      </div>

      <span class="fs-display-1 display-block mt+ mb+">Install</span>
      <div class="paragraph">
        <p>
          Install it using Bower :
        </p>
      </div>

      <div class="mt+ mb+" hljs>
bower install ac.angular-webrtc
      </div>

      <div class="paragraph">
        <p>
          Include angular-webrtc in your html page :
        </p>
      </div>

      <div class="mt+ mb+" hljs>
&lt;script src="bower_components/ac.angular-webrtc/dist/angular-webrtc.min.js" type="text/javascript"&gt;&lt;/script&gt;
      </div>

      <div class="paragraph">
        <p>
          Inject ac.angular-webrtc in your app :
        </p>
      </div>

      <div class="mt+ mb+" hljs language="javascript">
angular.module('your.app', ['ac.angular-webrtc']);
      </div>
    </div>
  </div>
</div>